<mat-card
  appearance="outlined"
  style="margin: 10px auto; padding: 10px; max-width: 940px"
>
  <mat-card-title style="text-align: center; font-weight: bold; font-size: 1rem"
    >Lista de Roles</mat-card-title
  >
  <div class="user-table-container" style="padding: 0">
    <!-- Botón "Agregar" alineado a la derecha -->
    <div style="display: flex; justify-content: flex-end; margin-bottom: 5px">
      <button
        mat-flat-button
        color="primary"
        routerLink="/nav/insertar_rol"
        style="padding: 4px 8px"
      >
        <mat-icon style="margin-right: 5px">add</mat-icon>Agregar
      </button>
    </div>

    <!-- Tabla de roles -->
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
      <!-- Definir las columnas -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let role">{{ role.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let role">{{ role.name }}</td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let role">
          <a
            mat-stroked-button
            color="primary"
            [routerLink]="['/nav/rol/editar', role.id]"
            style="padding: 2px 6px"
            >Editar</a
          >
          <button
            mat-flat-button
            color="warn"
            (click)="confirmDelete(role.id, role.name)"
            style="padding: 2px 6px"
          >
            Eliminar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Control de la paginación -->
    <mat-paginator
      [length]="totalRecords"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="pageChanged($event)"
    >
    </mat-paginator>
  </div>
</mat-card>
